p {
    font-size: small;
    color: #000000;
    font-family: Arial, sans-serif;
}

#main {
    background-color: #ddd4d2;
    padding: 20px;
    text-align: center;
}

div {
    height: 800px;
    width: 600px;
    margin: 0 auto;
    text-align: left;
}